name: Deploy Snowflake Objects

on:
  # Trigger on push for the dev branch
  push:
    branches:
      - dev

  # Trigger on pull request review approval for main and QA branches
  pull_request:
    types: [closed]
    branches:
      - main
      - qa
    

jobs:
  deploy:
    # Only run if the pull request review is approved OR it's a push to dev
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Check Conditions
        id: check_conditions
        run: |
          echo "Pushing to : ${{ github.ref }}"

      - name: instaling snowflake
        run: pip install snowflake
      
      - name: instaling snowflake-connector-python
        run: pip install snowflake-connector-python
      
      - name: instaling schemachange
        run: pip install schemachange
      
      - name: Debug folder contents
        run: ls -la /home/runner/work/snowflake_git_schemachanger/snowflake_git_schemachanger/

      - name: Decrypt RSA key
        run: |
          echo "${{ secrets.SNOWFLAKE_PRIVATE_KEY }}"  > ./config/rsa_key.p8
          chmod 600 ./config/rsa_key.p8 

      - name: Set Environment Variable
        env: 
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USERNAME: ${{ secrets.SNOWFLAKE_USERNAME }}
          # SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
          SNOWFLAKE_PRIVATE_KEY_PATH: ${{ secrets.SNOWFLAKE_PRIVATE_KEY_PATH}}
          SNOWFLAKE_PRIVATE_KEY_PASSPHRASE: ${{ secrets.SNOWFLAKE_PRIVATE_KEY_PASSPHRASE}}
          SNOWFLAKE_DATABASE: ${{ github.ref == 'refs/heads/main' && secrets.SNOWFLAKE_DATABASE_PROD ||  github.ref == 'refs/heads/qa' && secrets.SNOWFLAKE_DATABASE_QA  ||  secrets.SNOWFLAKE_DATABASE_DEV}}
 
        run: |
          echo "SNOWFLAKE_ACCOUNT= $SNOWFLAKE_ACCOUNT" >> $GITHUB_ENV
          echo "SNOWFLAKE_USERNAME= $SNOWFLAKE_USERNAME" >> $GITHUB_ENV
          echo "SNOWFLAKE_ROLE= $SNOWFLAKE_ROLE" >> $GITHUB_ENV
          echo "SNOWFLAKE_WAREHOUSE= $SNOWFLAKE_WAREHOUSE" >> $GITHUB_ENV
          echo "SNOWFLAKE_DATABASE= $SNOWFLAKE_DATABASE" >> $GITHUB_ENV
          echo "Current directory: $(pwd)"

          
          for folder in /home/runner/work/snowflake_git_schemachanger/snowflake_git_schemachanger/to_deploy_Snowflake_code/*/; do
            if [ -d "$folder" ]; then 
              echo "Processing folder $(basename $folder) ..."
           
              log_folder="logs/$(basename $folder)"
           
              mkdir -p "$log_folder"
 
              schemachange deploy --config-folder ./config -f "$folder"
              echo $("$folder")
            else
              echo "No Matching Folders found"
            fi 
          
          done

          
      - name: Clean up private key file
        run: rm -f rsa_key.p8   # Remove the private key file after use
