name: snowflake-devops-demo

on:
  push:
    branches:
      - main
    paths:
      - 'dbscripts/**'

  workflow_dispatch:

jobs:
  deploy-snowflake-changes-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Python 3.8.x
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Create RSA key file
        run: |
          mkdir -p config
          echo "${{ secrets.SNOWFLAKE_PRIVATE_KEY }}" > ./config/rsa_key.p8
          chmod 600 ./config/rsa_key.p8

      - name: Run schemachange
        env:
          SF_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SF_USERNAME: ${{ secrets.SNOWFLAKE_USERNAME }}
          SF_ROLE: ${{ secrets.SF_ROLE }}
          SF_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
          SF_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
        run: |
          echo "Installing schemachange..."
          pip install schemachange

          echo "Running schemachange with key-pair auth"
          schemachange \
            -f dbscripts \
            -a $SF_ACCOUNT \
            -u $SF_USERNAME \
            -r $SF_ROLE \
            -w $SF_WAREHOUSE \
            -d $SF_DATABASE \
            --private-key-path ./config/rsa_key.p8 \
            -c $SF_DATABASE.SCHEMACHANGE.CHANGE_HISTORY \
            --create-change-history-table
