name: Deploy Snowflake Objects

on:
  push:
    branches: [ dev ]
  pull_request:
    types: [closed]
    branches: [ main, qa ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install snowflake-connector-python
          pip install schemachange

      - name: Create RSA Key
        run: |
          mkdir -p config
          echo "${{ secrets.SNOWFLAKE_PRIVATE_KEY }}" > ./config/rsa_key.p8
          chmod 600 ./config/rsa_key.p8

      - name: Set Dynamic Environment Variables
        run: |
          # Select Database based on target branch
          if [[ "${GITHUB_REF#refs/heads/}" == "main" ]]; then
            echo "SNOWFLAKE_DATABASE=${{ secrets.SNOWFLAKE_DATABASE_PROD }}" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF#refs/heads/}" == "qa" ]]; then
            echo "SNOWFLAKE_DATABASE=${{ secrets.SNOWFLAKE_DATABASE_QA }}" >> $GITHUB_ENV
          else
            echo "SNOWFLAKE_DATABASE=${{ secrets.SNOWFLAKE_DATABASE_DEV }}" >> $GITHUB_ENV
          fi

          echo "SNOWFLAKE_ACCOUNT=${{ secrets.SNOWFLAKE_ACCOUNT }}" >> $GITHUB_ENV
          echo "SNOWFLAKE_USERNAME=${{ secrets.SNOWFLAKE_USERNAME }}" >> $GITHUB_ENV
          echo "SNOWFLAKE_ROLE=${{ secrets.SNOWFLAKE_ROLE }}" >> $GITHUB_ENV
          echo "SNOWFLAKE_WAREHOUSE=${{ secrets.SNOWFLAKE_WAREHOUSE }}" >> $GITHUB_ENV

      - name: Deploy objects folder by folder
        run: |
          echo "Deploying for DB=$SNOWFLAKE_DATABASE"
          
          for folder in object_to_deploy/*/; do
            echo "Processing folder: $folder"

            schemachange deploy \
              --config-folder ./config \
              -f "$folder" \
              -a $SNOWFLAKE_ACCOUNT \
              -u $SNOWFLAKE_USERNAME \
              -r $SNOWFLAKE_ROLE \
              -w $SNOWFLAKE_WAREHOUSE \
              -d $SNOWFLAKE_DATABASE \
              --private-key-path ./config/rsa_key.p8 \
              -c $SNOWFLAKE_DATABASE.SCHEMACHANGE.CHANGE_HISTORY \
              --create-change-history-table

          done

      - name: Cleanup Key
        run: rm -f ./config/rsa_key.p8
